<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>ADD product NEw Product</h1>
    <form th:action="@{/placeOrder}" method="post" th:object="${coffee}">


        <label> Enter Customer Name</label>
        <input type="text" name="customerName" th:filed="*{customerName}">

        <label> Enter Customer Order</label>
        <input type="text" name="customerOrder" th:field="*{customerOrder}">

        <label> Enter TOTAL BILL</label>
        <input type="text" name="totalBill" th:field="*{totalBill}">

        <input type="submit" value="Place Order-">
    </form>
</div>

</body>
</html>